* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: sans-serif;
}

.identity img {
  border-radius: 50%;
  width: 100px;
  border: 2px solid #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.container {
  padding: 2rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

hr {
  margin: 1rem 0;
  outline: none;
  border-color: aquamarine;
}
